<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EEW_Viewer2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Disaster_information_viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EEW_Viewer2.Properties.Settings>
            <setting name="UserLatitude" serializeAs="String">
                <value>35.45</value>
            </setting>
            <setting name="UserLongitude" serializeAs="String">
                <value>136.75</value>
            </setting>
            <setting name="UserPixelX" serializeAs="String">
                <value>165</value>
            </setting>
            <setting name="UserPixelY" serializeAs="String">
                <value>265</value>
            </setting>
            <setting name="WarnArea" serializeAs="String">
                <value />
            </setting>
            <setting name="QuakeLat" serializeAs="String">
                <value>35.5</value>
            </setting>
            <setting name="QuakeLong" serializeAs="String">
                <value>136.8</value>
            </setting>
        </EEW_Viewer2.Properties.Settings>
        <Disaster_information_viewer.Properties.Settings>
        </Disaster_information_viewer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>